{% extends "base.html" %}
{% block content %}

<div class="dashboard">
    <aside class="sidebar">
        <div class="user-box">
            <div>
                <div class="name">Welcome</div>
                <span>{{ partner_name }}</span>
            </div>
        </div>

        <ul>
            <li>
                <a href="/partner/dashboard">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-border-style" viewBox="0 0 16 16">
                        <path
                            d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm8 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-4 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm8 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-4-4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    Dashboard
                </a>
            </li>

            <li>
                <a href="/partner/create_lead">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M12 5v14M5 12h14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>
                    Create Lead
                </a>
            </li>

            <li>
                <a href="/partner/payment">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M3 7h18v10H3z" stroke="currentColor" stroke-width="2" />
                        <path d="M16 12h2" stroke="currentColor" stroke-width="2" />
                    </svg>
                    Payment Status
                </a>
            </li>

            <li>
                <a href="/partner/profile">
                    <svg viewBox="0 0 24 24" fill="none">
                        <circle cx="12" cy="8" r="4" stroke="currentColor" stroke-width="2" />
                        <path d="M4 20c0-4 4-6 8-6s8 2 8 6" stroke="currentColor" stroke-width="2" />
                    </svg>
                    Profile
                </a>
            </li>
            <li>
                <a href="/partner/terms_conditions">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-journals" viewBox="0 0 16 16">
                        <path
                            d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2" />
                        <path
                            d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0" />
                    </svg>
                    Terms & conditions
                </a>
            </li>
            <li>
                <a href="/partner/support">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chat-right-text" viewBox="0 0 16 16">
                        <path
                            d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                        <path
                            d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                    </svg>
                    Support
                </a>
            </li>
        </ul>

    </aside>

    <main class="main">
        <div class="lead-card">
            <div class="lead-avatar">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm4 8c0 1-1 1-1 1H5s-1 0-1-1 1-4 4-4 4 3 4 4z" />
                </svg>
                <h3>Create Lead</h3>
            </div>

            <form method="POST" class="lead-form">
                <div class="form-row">
                    <div class="input-group">
                        <input type="text" name="student_name" placeholder="Enter lead Name" required>
                    </div>
                    <div class="input-group">
                        <input type="text" name="mobile" placeholder="Enter lead Mobile" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="input-group">
                        <input type="email" name="email" placeholder="Enter lead Email" required>
                    </div>

                    <div class="input-group">
                        <input type="text" name="current_status" placeholder="Enter lead Profession" required>
                    </div>
                </div>

                <div class="form-row" style="height:5vh;">
                        <select id="state" name="state" required>
                            <option value="">Select lead State</option>
                            {% for state in state_data.keys() %}
                            <option value="{{ state }}">{{ state }}</option>
                            {% endfor %}
                        </select>

                        <select id="district" name="district" required>
                            <option value="">Select lead District</option>
                        </select>
                </div>

                <div class="form-row">

                    <div class="input-group">
                        <textarea name="address" placeholder="Enter lead Address" required></textarea>
                    </div>

                    <div class="input-group">
                        <textarea name="remark" placeholder="Enter lead Remark/Interested Course" required></textarea>
                    </div>
                </div>

                <button class="btn">Create</button>
            </form>
        </div>
    </main>
</div>

<script id="state-data" type="application/json">
    {{ state_data | tojson | safe }}
</script>

{% endblock %}