{% extends "base.html" %}
{% block content %}


<div class="dashboard">
    <aside class="sidebar">
        <div class="user-box">
            <div>
                <div class="name">Welcome</div>
                <span>{{ admin_name }}</span>
            </div>
        </div>

        <ul>
            <li>
                <a href="/admin/panel">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-border-style" viewBox="0 0 16 16">
                        <path
                            d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm8 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-4 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm8 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-4-4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    Admin Panel
                </a>
            </li>

            <li>
                <a href="/admin/partners">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-award" viewBox="0 0 16 16">
                        <path
                            d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702z" />
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z" />
                    </svg>
                    Manage Partners
                </a>
            </li>
            <li>
                <a href="/admin/employees">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-workspace" viewBox="0 0 16 16">
                        <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                        <path
                            d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.4 5.4 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2z" />
                    </svg>
                    Manage Employees
                </a>
            </li>
            <li>
                <a href="/admin/leads">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-people" viewBox="0 0 16 16">
                        <path
                            d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
                    </svg>
                    View Leads
                </a>
            </li>

            <li>
                <a href="/admin/payments">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M3 7h18v10H3z" stroke="currentColor" stroke-width="2" />
                        <path d="M16 12h2" stroke="currentColor" stroke-width="2" />
                    </svg>
                    Payments
                </a>
            </li>
            <li>
                <a href="/admin/courses_plans">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-book-half" viewBox="0 0 16 16">
                        <path
                            d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                    </svg>
                    courses & Plans
                </a>
            </li>
            <li>
                <a href="/admin/queries">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chat-right-text" viewBox="0 0 16 16">
                        <path
                            d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                        <path
                            d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                    </svg>
                    Queries
                </a>
            </li>
            <li>
                <a href="/admin/schemes">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-gift" viewBox="0 0 16 16">
                        <path
                            d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A3 3 0 0 1 3 2.506zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43zM9 3h2.932l.023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0zM1 4v2h6V4zm8 0v2h6V4zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5z" />
                    </svg>
                    Schemes
                </a>
            </li>
        </ul>

    </aside>

    <main class="main">
        <div class="dashboard-header">
            <h2>Leads</h2>
            <div class="stats">
                <a style="text-decoration: none;" class="btn" href="/admin/download_leads_template">Leads Template
                    (CSV)</a>
                <button type="button" class="btn" onclick="openModal()">
                    Upload Leads
                </button>
            </div>
        </div>
        <div class="custom-modal-overlay" id="uploadModal">
            <div class="custom-modal">
                <h5>Upload Leads CSV</h5>

                <form method="POST" action="{{ url_for('admin.upload_leads') }}" enctype="multipart/form-data">
                    <label>Select Employee</label>
                    <select name="employee_id" id="employeeSelect" required>
                        <option value="">-- Select Employee --</option>
                        {% for emp in employees %}
                        <option value="{{ emp.id }}" data-name="{{ emp.name }}">
                            {{ emp.id }} - {{ emp.name }}
                        </option>
                        {% endfor %}
                    </select>

                    <input type="file" name="file" class="form-control" required>

                    <div class="modal-buttons">
                        <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancel</button>
                        <button type="submit" class="btn btn-success">Upload</button>
                    </div>
                </form>
            </div>
        </div>

        <div style="margin-top:10px;">
            Showing {{ pagination.page }} of {{ pagination.pages }} pages
            (Total Leads: {{ pagination.total }})
        </div>

        <div class="table">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Created By</th>
                    <th>Status</th>
                    <th>Registation(₹)</th>
                    <th>Course</th>
                    <th>Payment Term</th>
                    <th>Update</th>
                    <th>View Lead</th>
                </tr>
                {% for l in leads %}
                <tr>
                    <td>{% if l.assigned_employee %}
                        <span style="color: green; font-weight: 600;">
                            {{ l.student_name }}
                        </span>
                        {% else %}
                        <span style="color: red; font-weight: 600;">
                            {{ l.student_name }}
                        </span>
                        {% endif %}
                    </td>
                    <td>{{ l.mobile }}</td>
                    <td>{{ l.partner.name if l.partner and l.partner.name else 'Admin' }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('admin.update_lead', lead_id=l.id) }}">

                            <select name="status" style="width:100px;" {% if l.status in ['Converted', 'Not Converted' ]
                                %} disabled {% endif %}>
                                <option value="Pending" {{ 'selected' if l.status=='Pending' }}>Pending</option>
                                <option value="In-Process" {{ 'selected' if l.status=='In-Process' }}>In-Process
                                </option>
                                <option value="Converted" {{ 'selected' if l.status=='Converted' }}>Converted</option>
                                <option value="Not Converted" {{ 'selected' if l.status=='Not Converted' }}>Not
                                    Converted</option>
                            </select>
                    </td>

                    <td>
                        <select name="registration_plan_id" style="width:100px;" {% if l.status !='Converted' %}
                            disabled {% endif %}>
                            <option value="">Select Plan</option>
                            {% for plan in registration_plans %}
                            <option value="{{ plan.id }}" {% if l.registration_plan_id==plan.id %} selected {% endif %}>
                                {{ plan.amount }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="course_id" style="width:100px;" {% if l.status !='Converted' %} disabled {% endif
                            %}>
                            <option value="">Course</option>
                            {% for c in courses %}
                            <option value="{{ c.id }}" {% if l.course_id==c.id %} selected {% endif %}>
                                {{ c.title }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="payment_term" style="width:100px;" {% if l.status !='Converted' %} disabled {%
                            endif %}>
                            <option value="">Payment</option>
                            <option value="Cash" {{ 'selected' if l.payment_term=='Cash' }}>Cash</option>
                            <option value="Online" {{ 'selected' if l.payment_term=='Online' }}>Online</option>
                            <option value="Other" {{ 'selected' if l.payment_term=='Other' }}>Other</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn" type="submit" {% if l.status=='Not Converted' %} disabled {% endif %}>
                            Update
                        </button>
                        </form>
                    </td>
                    <td>
                        <a href="{{ url_for('admin.view_lead', lead_id=l.id) }}"
                            style="background:#111; color:#fff; border-radius:6px; padding:6px 12px; text-decoration:none;">
                            View Lead
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </table>

            <div class="pagination">

                <!-- Previous -->
                {% if pagination.has_prev %}
                <a href="{{ url_for('admin.leads', page=pagination.prev_num) }}">⬅ Prev</a>
                {% endif %}

                <!-- Page Numbers -->
                {% for p in pagination.iter_pages() %}
                {% if p %}
                {% if p == pagination.page %}
                <span class="active">{{ p }}</span>
                {% else %}
                <a href="{{ url_for('admin.leads', page=p) }}">{{ p }}</a>
                {% endif %}
                {% else %}
                <span>...</span>
                {% endif %}
                {% endfor %}

                <!-- Next -->
                {% if pagination.has_next %}
                <a href="{{ url_for('admin.leads', page=pagination.next_num) }}">Next ➡</a>
                {% endif %}

            </div>
        </div>
    </main>
</div>
{% endblock %}